
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Eat that burger!!!</h2>
    <p class="lead">Welcome to the burger shop of the century.  Make and eat burgers at the click of a button!!</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <ul class="list-group col-4 float-left p-2">
      <li class="list-group-item list-group-item-danger text-center">
        <h3>Ready to EAT!</h3>
      </li>
      {{#each burgers}}
      {{#unless devoured}}
      <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
        <div><strong>{{id}}.</strong> {{name}}</div>
        <button type="submit" class="btn btn-danger eat" name="id" data-id="{{id}}"><strong>DEVOUR!</strong></button>
      </li>
      {{/unless}}
      {{/each}}
    </ul>

    
      <form action="" method="post" class='container col-4' id="newBurger">
        <div class="form-group text-center mb-0">
          <label>Make your own custom Burger!</label><br/>
          <input type="text" class="form-control" name="name" aria-describedby="helpId"
            placeholder="NEW BURGER NAME"><br/>
        </div>
        <div class="form-group d-flex justify-content-center">
        <button type="button" class="btn btn-success btn-lg" id="newBurgerBtn">Make Burger</button></div>
      </form>
  

    <ul class="list-group col-4 float-right p-2">
      <li class="list-group-item list-group-item-info text-center">
        <h3>DEVOURED</h3>
      </li>
      {{#each burgers}}
      {{#if devoured}}
      <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
        <div><strong>{{id}}.</strong> {{name}}</div>
        <button type="button" class="btn btn-success make"  data-id="{{id}}"><strong>MAKE IT AGAIN</strong></button>
      </li>
      {{/if}}
      {{/each}}
    </ul>

  </div>
</div>